<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "taptapbricky.igniteous.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >
        
        <platform name="android">
  <icon src="icon.png" width="800" height="600" />
</platform>

    <!-- versionCode is optional and Android only -->

    <name>TapTapBricky</name>

    <description>
        Avoid the red blocks while tapping black blocks to gain score!
    </description>

    <author href="http://scratch.mit.edu/users/Igniteous" email="igniteousdev@gmail.com">
        igniteous
    </author>

</widget>
